.app {
    margin: 0 auto;

}

.appContent {
    display: flex;
    margin: 0 auto;
    max-width: 1240px;
}

.wrapCenter {
    margin: auto;
    width: 480px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.buttonHref {
    display: flex;
    flex-direction: row;
    align-items: center
}

.btn_item {
    display: flex;

    justify-content: center;

}

.loginWrap {
    height: 100vh;
    margin-top: 100px;
}

.content {
    height: 88%
}

.button {
    padding: 0;
    color: #4c4cff;

}

.otherButton {
    width: 100%;
    display: flex;
    justify-content: center;
}
