.app {
    margin: 0 auto;

}

.appContent {
    display: flex;
    margin: 0 auto;
    max-width: 1240px;
}
.wrapCenter{
    margin: auto;
    width: 480px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.buttonHref{
    display: flex;
    flex-direction: row;
    align-items: center
}
.btn_reg{
    display: flex;
    justify-content: center;
}

.registerWrap {
    margin-top: 100px;
    height: 100vh;
}

.content{
    height: 88%
}

.button{
    padding: 0;
}
