.wrap{
    display: flex;
    width: 45%;
    justify-content: center;
    cursor: pointer;

}
.item{

    margin-bottom: 10px;
    justify-content: center;
    align-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}
.name{
    width: 272px;
    height: 48px;
}
