.selectedIngredient{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

}
.selectedIngredient-mb {
    margin-top: 14px;
}

.dragonAndDropItem{
    min-width: 24px;
    margin-right: 10px;
    display: flex;
    align-self: center;
    justify-content: flex-start;
}

.backgroundItem{
    justify-content:flex-end;
    background: #1C1C21;

}
